<div class= 'page'>
    <div class='section menu'></div>
    
    <div class='section header'>
        <img src='/header.svg'>
    </div>
    
    <div class='section content'>
        <img src='/content.svg'>
    </div>
    
    <div class='section sign-up'>
        <img src='/sign-up.svg'>
    </div>
    
    <div class='section feature-1'>
        <img src='/feature.svg'>
    </div>
    
    <div class='section feature-2'>
        <img src='/feature.svg'>
    </div>
    
    <div class='section feature-3'>
        <img src='/feature.svg'>
    </div>
</div>