<div class= 'menu-container'>
    <div class='menu'>
        <div class='date'>April 9, 2016</div>
        
        <div class= "links">
            <div class='signup'>Sign Up</div>
            <div class='login'>Login</div>
        </div>
    </div>
</div>

<div class = 'header-container'>
    <div class= 'header'>
        <div class='subscribe'>Subscribe</div>
        <div class='logo'><img src='/awesome-logo.svg'/></div>
        <div class='social'><img src='/social-icons.svg'/></div>
    </div>
</div>

<div class='photo-grid-container'>
    <div class='photo-grid'>
        <div class= 'photo-grid-item first-item'>
            <img src='/one.svg'/>
        </div>
    
        <div class='photo-grid-item'>
            <img src='/two.svg'/>
        </div>
    
        <div class='photo-grid-item'>
            <img src='/three.svg'/>
        </div>
    
        <div class='photo-grid-item'>
            <img src='/four.svg'/>
        </div>
        
        <div class='photo-grid-item last-item'>
            <img src='/five.svg'/>
        </div>
    </div>
</div>

